[submodule "src/lib/zyngascroller"]
	path = lib/zyngascroller
	url = https://github.com/zynga/scroller.git
[submodule "lib/zyngascroller"]
	path = lib/zyngascroller
	url = https://github.com/zynga/scroller.git
