/**
 * @fileOverview jMatrixBrowse default stylesheet.
 * @version 0.1
 * @author Pulkit Goyal <pulkit110@gmail.com>
*/

.jMatrixBrowse-background-data-container {
  display: none;
}

.jMatrixBrowse-loading {
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: inherit;
	height: inherit;
}