#my_browser {
  position: relative;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#main {
  height: 650px;
  width: 100%;
  border: 5px solid black;
  cursor: default;
  overflow: hidden;
  float: left;
}

.jMatrixBrowse-cell {
  border-color: #ff9900;
  border-width: thin;
  border-style: solid;
}

.hotkeys {
  float: right;
  position: relative;
}